<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <title>{% block title %}My Blogeg{% endblock %}</title>
</head>
<body style="margin:auto; width:50%; text-align:justify; padding-top:100px;">
 
    {% block content %}{% endblock %}
    
    <br>
    <footer>
        <p>Brought to you by fine folk - Miguel Yarts &#x1F49B;</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>